* {
  margin: 0;
  padding: 0;
}
.headerText {
  text-align: center;
}
/* Banner + Hearder  */
.cardTextHeading {
  font-weight: 900;
  color: #000000;
  line-height: 35px;
}
.cardText {
  color: #6e6e6e;
}
.cardContainer {
  width: 90%;
  margin: 20px auto 60px;
}
.cardBg {
  border: none;
  border-radius: 4px;
  /* width: 33%; */
}
.cardBody {
  padding: 1rem 0rem;
}
.cardBodyPadding {
  padding: 1rem 0;
}
.cardParaBM {
  margin-bottom: 5px;
  color: #6e6e6e;
}

/* Volunteer Css */
.golfRight {
  padding: 10px 0;
}
.golfPara1 {
  color: #757575;
  line-height: 25.5px;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 800;
  font-family: "Poppins", sans-serif;
}
.golfRight h2,
.causeHeading {
  font-weight: 900;
  font-family: "Poppins", sans-serif;
  line-height: 67.5px;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.iconSetting {
  position: relative;
}
.imgIconSetting {
  position: absolute;
  top: 25%;
  right: 10px;
}
.form-group label {
  margin-bottom: 15px;
  color: #6b6b6b;
}
.btnHomeDonate {
  height: 40px;
  width: 30%;
  border-radius: 50px;
}
.formAligning {
  width: 90%;
  margin: 0 auto 60px;
  background-color: #f7f7f7;
  padding: 80px 0;
  border: 1px solid #3367d6;
  border-radius: 4px;
  box-shadow: 0px 4px 24px rgba(175, 175, 175, 0.25);
}
.formAligning2 {
  width: 80%;
  margin: 0 auto;
}
.volunteerInputFocus {
  border: none;
}
.datepicker,
.timepicker,
.datetimepicker {
  .form-control {
    background: #fff;
  }
}
input[type="file"] {
  display: none;
}
.custom-file-upload {
  cursor: pointer;
  width: 100%;
  padding: 7%;
  text-align: center;
  background-color: #fff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-size: 14px;
}
.paymentMethod {
  font-weight: 900;
  text-transform: uppercase;
  margin: 30px 0;
}
.tabSwitch {
  border-bottom: 1px solid #90a3bf;
  width: 500px;
  margin: 0 auto;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #3367d6;
  border-bottom: 4px solid #3367d6;
  border-radius: unset;
  background-color: unset;
  width: 250px;
}
.nav-link {
  color: #1a202c;
  font-weight: 600;
}
textarea {
  resize: none;
}
.nav-item {
  width: 50%;
}
.nav-item button {
  margin: 0 auto;
}
#exampleFormControlTextarea1 {
  border: none;
}
input#datepicker,
input#timepicker {
  color: grey;
  border: none;
}
.moneyMain {
  width: 90%;
  margin: 0 auto;
}
.moneyMain p {
  color: #757575;
  line-height: 25.5px;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 800;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}
.moneyMain h2 {
  font-weight: 900;
  font-family: "Poppins", sans-serif;
  line-height: 67.5px;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.bankingAlign {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.bankingALignLeft {
  width: 45%;
}
.bankingALignLeft h5 {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #000000;
}
.bankingALignLeft h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  color: #3367d6;
  padding-left: 30px;
}
.bankingAlignRight {
  width: 45%;
}
.bankingALignRightImg {
  width: 100%;
}
/* // Medium devices (tablets, less than 992px) */

@media (max-width: 1199.98px) {
  .custom-file-upload {
    padding: 9%;
  }
  .bankingALignLeft h5 {
    font-size: 16px;
    line-height: 25px;
  }
  .bankingALignLeft h4 {
    font-size: 20px;
    line-height: 32px;
  }
}

@media (max-width: 991.98px) {
  .custom-file-upload {
    padding: 11%;
  }
  .formAligning {
    padding: 50px 0;
  }
  .bankingAlign {
    flex-direction: column;
  }
  .bankingAlignRight {
    width: 60%;
  }
  .bankingALignLeft {
    margin-bottom: 30px;
  }
}
@media (max-width: 767.98px) {
  #datepicker,
  #timepicker {
    margin-bottom: 15px;
  }
  .tabSwitch {
    width: 300px;
  }
  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    width: 150px;
  }
  .btnHomeDonate {
    width: 55%;
  }
  .bankingAlignRight {
    width: 100%;
  }
  .bankingALignLeft h5 {
    font-size: 16px;
    line-height: 25px;
  }
  .bankingALignLeft h4 {
    font-size: 18px;
    line-height: 32px;
  }
  .bankingALignLeft {
    width: 90%;
  }
  .bankingALignLeft h4 {
    padding-left: 10px;
  }
  .moneyMain h2 {
    font-size: 18px;
    margin-bottom: 15px;
  }
}
@media (max-width: 575.98px) {
  .bankingALignLeft h5 {
    font-size: 12px;
    line-height: 25px;
  }
  .bankingALignLeft h4 {
    font-size: 14px;
    line-height: 32px;
  }
  .bankingALignLeft {
    width: 90%;
  }
  .bankingALignLeft h4 {
    padding-left: 10px;
  }
  .moneyMain h2 {
    font-size: 13px;
    margin-bottom: 10px;
    line-height: 50px;
  }
  .moneyMain p {
    line-height: 15.5px;
    font-size: 11px;
  }
}
